<div class="row offer-item">
  <div class="col-xs-6 hotel-image-holder">
    <a href="{{offer.hotelInfositeUrl}}">
      <img src={{offer.hotelImageUrl}} class="hotel-image">
    </a>

    <hr style="clear: both"/>
    <h4>More info from expedia?</h4>
    <div class="section-wraper">
      <a href="{{offer.hotelInfositeUrl}}">Hotel site</a>
      <label class="pipe-label"> | </label>
      <a href="{{offer.hotelSearchResultUrl}}">Search results</a>
    </div>
  </div>
  <div class="col-xs-6 offer-details-holder">
    <offer-details [offer]="offer"></offer-details>
  </div>
</div>
