<h4>Destination <i class="em em-earth_asia"></i></h4>
<div style="display: inline">
  <label>{{offer.destinationCountry}} - </label>
  <label>{{offer.destinationCity}} - </label>
  <label>{{offer.destinationProvince}}</label>
</div>

<hr style="clear: both"/>

<h4 style="">Hotel <i class="em em-hotel"></i></h4>
<div style="display: inline">
  <label>{{offer.hotelName}} - </label>
  <label>{{offer.hotelAddress}}</label>
</div>

<hr style="clear: both"/>

<h4 style="">Price <i class="em em-money_with_wings"></i></h4>
<div style="display: inline">
  <label>Total: {{offer.totalPriceValue | currency: offer.priceCurrency}} | Original/night: {{offer.originalPricePerNight | currency: offer.priceCurrency}} | Savings: {{offer.percentSavings | percent}}</label>
</div>

<hr style="clear: both"/>

<h4 style="">Trip <i class="em em-spiral_calendar_pad"></i></h4>
<div style="display: inline">
  <label>From: {{offer.travelStartDate}} to {{offer.travelEndDate}} (Number of days: {{offer.lengthOfStay}})</label>
</div>
