<div class="container">
  <div class="jumbotron small">
    <img src="../assets/logo.png" style="height: 80pt">
    <h2 style="display: inline; color: #0086B3; vertical-align: middle;">{{title}}</h2>
    <p>Search hotel offers to find the best that suites you well :)</p>
  </div>
</div>

<div class="content-wraper">
  <div class="container main-content">
    <div class="row content-alignment">
      <div class="col-sm-8 offer-list">
        <offer-list></offer-list>
      </div>
      <div class="col-sm-4 filters-form">
        <offer-filter></offer-filter>
      </div>
    </div>
  </div>
</div>
<footer></footer>
