<div class="row">
  <h3>Filter Hotel Offers?</h3>
  <form #filterForm="ngForm">

    <h4>Trip destination</h4>
    <div class="form-group">
      <label for="destinationCountry">Country</label>
      <select class="form-control" id="destinationCountry"
              name="destinationCountry" [(ngModel)]="filters.destinationCountry">
        <option></option>
        <option *ngFor="let country of countryNamesOptions">
          {{country}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="destinationCity">City</label>
      <input type="text" class="form-control" id="destinationCity"
             name="destinationCity" [(ngModel)]="filters.destinationCity">
    </div>

    <div class="form-group">
      <label for="regionIds">Region Id/Ids</label>
      <input type="text" class="form-control" id="regionIds"
             name="regionIds" [(ngModel)]="filters.regionIds">
    </div>

    <hr style="clear: both"/>
    <h4>Trip time details</h4>
    <div class="form-group">
      <label for="lengthOfStay">Length of Stay</label>
      <input type="number" class="form-control" id="lengthOfStay"
             name="lengthOfStay" [(ngModel)]="filters.lengthOfStay">
    </div>

    <div class="form-group col-xs-6 col-md-6">
      <label for="minTripStartDate">Minimum Trip Start Date</label>
      <input type="date" class="form-control" id="minTripStartDate"
             name="minTripStartDate" [(ngModel)]="filters.minTripStartDate">
    </div>

    <div class="form-group col-xs-6 col-md-6">
      <label for="maxTripStartDate">Maximum Trip Start Date</label>
      <input type="date" class="form-control" id="maxTripStartDate"
             name="maxTripStartDate" [(ngModel)]="filters.maxTripStartDate">
    </div>

    <hr style="clear: both"/>
    <h4>Hotel rating</h4>
    <div class="form-group col-xs-6 col-md-6">
      <label for="minStarRating">Minimum Star Rating</label>
      <input type="number" class="form-control" id="minStarRating"
             step="0.5" min="1" max="5"
             name="minStarRating" [(ngModel)]="filters.minStarRating">
    </div>

    <div class="form-group col-xs-6 col-md-6">
      <label for="maxStarRating">Maximum Star Rating</label>
      <input type="number" class="form-control" id="maxStarRating"
             step="0.5" min="1" max="5"
             name="maxStarRating" [(ngModel)]="filters.maxStarRating">
    </div>

    <div class="form-group col-xs-6 col-md-6">
      <label for="minTotalRate">Minimum Total Rate</label>
      <input type="number" class="form-control" id="minTotalRate" min="0"
             name="minTotalRate" [(ngModel)]="filters.minTotalRate">
    </div>

    <div class="form-group col-xs-6 col-md-6">
      <label for="maxTotalRate">Maximum Total Rate</label>
      <input type="number" class="form-control" id="maxTotalRate" min="0"
             name="maxTotalRate" [(ngModel)]="filters.maxTotalRate">
    </div>

    <div class="form-group col-xs-6 col-md-6">
      <label for="minGuestRating">Minimum Guest Rating</label>
      <input type="number" class="form-control" id="minGuestRating"
             step="0.1" min="1" max="5"
             name="minGuestRating" [(ngModel)]="filters.minGuestRating">
    </div>

    <div class="form-group col-xs-6 col-md-6">
      <label for="maxGuestRating">Maximum Guest Rating</label>
      <input type="number" class="form-control" id="maxGuestRating"
             step="0.1" min="1" max="5"
             name="maxGuestRating" [(ngModel)]="filters.maxGuestRating">
    </div>

    <button type="submit" class="btn btn-success btn-group-justified" (click)="filterOffers()">Filter</button>
  </form>
</div>
